@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.wrapper_empresa{
    background-color: black;
    background-size: cover;
    height: 105vh;
}

.framed_photo{
    position: absolute;
    top: 35%;
    left: 50%;    
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}

.frame{
    height: 70%;
    width: 70%;    
    transform: translate(-50%, -50%);
    border: rgba(190, 190, 190, 0.5) 30px solid; 
    border-radius: 25px;
}

.framed_photo p{
    margin-top: -200px;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.row {
    position: absolute;
    display: table;
    margin: auto;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 1600px;
    table-layout: fixed; 
    border-spacing: 10px; 
    background-color: rgba(190, 190, 190, 0.5); 
    border-radius: 25px;
    column-gap: 50px;
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}

.column {
    display: table-cell;
    border: black solid 5px;
    border-radius: 25px;
}

.column h1{
    color: black;
    font-size: 45px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.column p{
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 25px 25px 25px 25px;
}

.wrapper_galeria{
    background-color: black;
    background-size: cover;
    height: 105vh;
}

.gallery-position{
    position: absolute;
    top:50%;
    left:40%;
    transform: translate(-50%, -50%);
}

.row-galeria{
    display:relative;
    flex-flow: row wrap;
    width: 150%;
}

.collumn.galeria{
    flex-basis: 40%;
}

.img-galeria{
    height: auto;
    width: 30%;
}

@keyframes fadein{
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein{
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein{
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein{
    from { opacity: 0;}
    to {opacity: 1;}
}